// !sb &display=swap &subset=cyrillic-ext

@font-face {
	font-family: 'Segoe UI';
	src: url('../font/SegoeUIBlack.woff2') format('woff2'),
		url('../font/SegoeUIBlack.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../font/SegoeUI.woff2') format('woff2'),
		url('../font/SegoeUI.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../font/SegoeUI-Bold.woff2') format('woff2'),
		url('../font/SegoeUI-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}



@import "null";

// !P ADAPTIVE VALUE 
// !sb calc(10px + (40 - 10) * ((100vw - 320px) / (1440 - 320)))

@mixin adaptive-value-always($property, $maxSize, $minSize, $maxViewportWidth, $minViewportWidth) {
	$delta: $maxSize - $minSize;

	// Always
	#{$property}: calc(#{$minSize + px} + #{$delta} * ((100vw - #{$minViewportWidth + px}) / (#{$maxViewportWidth} - #{$minViewportWidth})));
}

@mixin adaptive-value-max($property, $maxSize, $minSize, $maxViewportWidth, $minViewportWidth) {
	$delta: $maxSize - $minSize;

	// Less than container width
	#{$property}: $maxSize + px;

	@media (max-width: #{$maxViewportWidth + px}) {
		#{$property}: calc(#{$minSize + px} + #{$delta} * ((100vw - #{$minViewportWidth + px}) / (#{$maxViewportWidth} - #{$minViewportWidth})));
	}
}

@mixin adaptive-value-min($property, $maxSize, $minSize, $maxViewportWidth, $minViewportWidth) {
	$delta: $maxSize - $minSize;

	// More than layout width
	#{$property}: $maxSize + px;

	@media (min-width: #{$maxViewportWidth + px}) {
		#{$property}: calc(#{$minSize + px} + #{$delta} * ((100vw - #{$minViewportWidth + px}) / (#{$maxViewportWidth} - #{$minViewportWidth})));
	}
}

// !P ADAPTIVE VALUE

body {
	font-family: 'Segoe UI', sans-serif;
	font-size: 24px;
	background-color: #06020D;
	color: #ffffff;
}

[data-container] {
	max-width: 1210px;
	padding: 0px 15px 0px 15px;
	margin: 0px auto 0px auto;
}

.header {

	// .header__container
	&__container {}

	// .header__body
	&__body {}

	// .header__navigation
	&__navigation {}
}

.navigation {

	// .navigation__list
	&__list {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		column-gap: 20px;
		min-height: 70px;
	}

	// .navigation__item
	&__item {
		padding: 5px 0px 5px 0px;
	}

	// .navigation__link
	&__link {
		font-weight: 700;
		line-height: 150%;
		color: #ffffff;
	}
}

.page {

	// .page__hero
	&__hero {}
}

.hero {

	// .hero__container
	&__container {}

	// .hero__body
	&__body {
		padding: 50px 0px 50px 0px;
		display: flex;
		align-items: center;
		column-gap: 40px;
	}

	// .hero__avatar-wrapper
	&__avatar-wrapper {
		max-width: 180px;
		max-height: 180px;
		border-radius: 50%;
		overflow: hidden;
	}

	// .hero__avatar
	&__avatar {
		width: 100%;
	}

	// .hero__text
	&__text {}

	// .hero__title
	&__title {
		font-weight: 900;
		font-size: 28px;
		line-height: 121%;

		&:not(:last-child) {
			margin: 0px 0px 5px 0px;
		}
	}

	// .hero__subtitle
	&__subtitle {
		font-size: 22px;
		line-height: 118%;
		color: #CDCCCF;
	}
}